.friend-request-user {
    font-weight: bold;

    display: flex;
    align-items: center;
}

.friend-request {
    display: grid;

    width: 500px;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
}

.friend-request-button {
    font-size: xx-large;
}